<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Adiminitrators" value="chenw03;liqf01"/>
	</appSettings>
	<connectionStrings>
		<clear/>
		<add name="InternalApp" connectionString="server=CHENW03;database=InternalApp;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<authentication mode="Windows"/>
		<urlMappings>
			<add url="~/Default.aspx" mappedUrl="~/Pages/PointOfSale/Menu.aspx"/>
		</urlMappings>
		<pages enableViewState="false" enableViewStateMac="false" enableSessionState="false" autoEventWireup="false" validateRequest="false" pageParserFilterType="MyMVC.ViewTypeParserFilter, MyMVC" pageBaseType="MyMVC.MyBasePage, MyMVC" userControlBaseType="MyMVC.MyBaseUserControl, MyMVC">
			<namespaces>
				<add namespace="MyMVC"/>
				<add namespace="InternalApp.BLL.PointOfSale"/>
				<add namespace="InternalApp.Entity.PointOfSale"/>
			</namespaces>
			<controls>
				<add tagPrefix="InternalApp" tagName="PageHeader" src="~/Controls/PageHeader.ascx"/>
			</controls>
		</pages>
		<httpHandlers>
			<add path="/ajax/*/*.aspx" verb="*" type="MyMVC.ServiceHandlerFactory, MyMVC" validate="true"/>
			<add path="*.aspx" verb="*" type="MyMVC.MvcPageHandlerFactory, MyMVC" validate="true"/>
		</httpHandlers>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="ServiceHandlerFactory" verb="*" path="/ajax/*" type="MyMVC.ServiceHandlerFactory, MyMVC" preCondition="integratedMode"/>
			<add name="MvcPageHandlerFactory" verb="*" path="*.aspx" type="MyMVC.MvcPageHandlerFactory, MyMVC" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>
</configuration>
